@import url("https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Honk&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Rubik+Glitch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=Rubik+Glitch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap");
html {
  font-size: 16px;
  box-sizing: border-box;
  background-color: var(--main-color);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*
declare SASS V\variables
*/
/*
declare SASS mixin for box shadow
*/
:root {
  --main-color: $main-color;
  --second-color: $second-color;
  --span-font-color: $span-font-color;
  --grey-out-button: $grey-out-button;
  --button-color: $button-color;
}

body {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: auto;
}

main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

header {
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

footer {
  position: fixed;
  left: 0;
  bottom: 10px;
  font-family: "Honk", system-ui;
  font-size: 20px;
  padding-left: 40px;
}

h1 {
  font-family: "Pixelify Sans";
  font-size: 50px;
  font-weight: 700;
  color: rgb(108, 123, 133);
}

h2,
span {
  font-family: "Big Shoulders Display", sans-serif;
  color: rgb(64, 77, 95);
}

span {
  font-weight: 500;
  color: rgb(64, 77, 95);
  font-size: 18px;
}

button {
  font-family: "Handjet", sans-serif;
  color: rgb(85, 40, 85);
  font-size: 18px;
  width: 100px;
  height: 30px;
  background-color: #fff;
  box-shadow: 2px 2px 5px 2px rgb(172, 170, 170);
  border-radius: 15px;
  border: 3px solid rgb(85, 40, 85);
  cursor: pointer;
}

#position-wrapper {
  position: absolute;
}

#winner {
  position: relative;
  font-family: "Pixelify Sans";
  box-shadow: 2px 2px 5px 2px rgb(172, 170, 170);
  border-radius: 12px;
  border: 0 solid rgb(85, 40, 85);
  padding: 70px;
  display: none;
  animation: glow 1s ease-in-out infinite alternate;
}

.greyout {
  background-color: rgb(238, 244, 245);
  color: rgb(64, 77, 95);
  cursor: none;
}

#animated-dice {
  width: 20%;
}

img {
  width: 80px;
  margin: 5px;
}

section {
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 5px 2px rgb(172, 170, 170);
  border-radius: 12px;
  border: 0 solid rgb(85, 40, 85);
  margin: 50px;
  padding: 30px;
  flex: 1;
  align-items: center;
  justify-content: space-evenly;
}

#game-section {
  display: flex;
  flex-direction: row;
}

#player1,
#player2 {
  display: flex;
  flex-direction: row;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #1c46b9, 0 0 40px #1c46b9, 0 0 50px #1c46b9;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #9a14e7, 0 0 40px #9a14e7, 0 0 50px #9a14e7;
  }
}
@media screen and (max-width: 420px) {
  h1 {
    font-size: 30px;
  }
  header {
    padding: 0 30px;
  }
  #game-section {
    display: flex;
    flex-direction: column;
  }
  section {
    margin: 5px;
  }
  footer {
    position: relative;
  }
  #animated-dice {
    width: 50%;
  }
}
@media screen and (min-width: 421px) and (max-width: 776px) {
  h1 {
    font-size: 30px;
  }
  header {
    padding: 0 10px;
  }
  section {
    margin: 5px;
    padding: 10px;
  }
}/*# sourceMappingURL=style.css.map */